<p>Evaluation PFMP</p>
<h2>Technicien Menuisier Agenceur</h2>
<table style="width: 70%;" border="0">
<tbody>
<tr>
<td>Nom de l'élève:</td>
<td><input type="text" id="Eleve" /></td>
</tr>
<tr>
<td>Classe:</td>
<td><input type="text" id="classe" /></td>
</tr>
<tr>
<td>Entreprise</td>
<td><input type="text" id="entreprise" /></td>
</tr>
<tr>
<td>Date</td>
<td><input type="text" id="date" /></td>
</tr>
</tbody>
</table>
<div></div>
<p></p>
<table id="competencesTable" border="1">
<thead>
<tr><th>Comptabiliser</th><th style="text-align: center;">Compétence</th><th style="text-align: center;">Importance</th><th style="text-align: center;">Niveau 1</th><th style="text-align: center;">Niveau 2</th><th style="text-align: center;">Niveau 3</th><th style="text-align: center;">Niveau 4</th><th style="text-align: center;">Note</th></tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(0)" /></td>
<td class="not-counted" style="text-align: left;">
<p dir="ltr"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Décoder et analyser les données de définition / les données opératoires / les données de gestion - Relever et réceptionner une situation de chantier</span></strong></p>
<br /><br /></td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(0, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(0, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(0, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(0, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(1)" /></td>
<td class="not-counted" style="text-align: left;">
<p dir="ltr"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Choisir et adapter des solutions techniques - Établir les plans d'exécution d'un ouvrage</span></strong></p>
</td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(1, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(1, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(1, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(1, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(2)" /></td>
<td class="not-counted" style="text-align: left;">
<p dir="ltr"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Établir les quantitatifs de matériaux et composants / le processus de fabrication, de dépose et de pose / les documents de suivi de réalisation</span></strong></p>
</td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(2, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(2, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(2, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(2, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<!-- Ajoutez d'autres compétences ici -->
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(3)" /></td>
<td class="not-counted" style="text-align: left;">
<p dir="ltr"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Organiser et mettre en sécurité les postes de travail - Préparer les matériaux, les quincailleries et les accessoires - Installer et régler les outillages</span></strong></p>
</td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(3, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(3, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(3, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(3, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(4)" /></td>
<td class="not-counted" style="text-align: left;"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Conduire les opérations d'usinage : machines conventionnelles, PN, CN</span></strong></td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(4, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(4, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(4, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(4, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(5)" /></td>
<td class="not-counted" style="text-align: left;">
<p dir="ltr"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Conduire les opérations de mise en forme et de placage / de montage et de finition</span></strong></p>
</td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(5, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(5, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(5, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(5, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(6)" /></td>
<td class="not-counted" style="text-align: left;"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Organiser et mettre en sécurité la zone d'intervention - Contrôler la conformité des supports et des ouvrages</span></strong></td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(6, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(6, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(6, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(6, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(7)" /></td>
<td class="not-counted" style="text-align: left;">
<p dir="ltr"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Implanter, distribuer les ouvrages</span></strong></p>
</td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(7, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(7, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(7, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(7, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(8)" /></td>
<td class="not-counted" style="text-align: left;"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Préparer, adapter, ajuster les ouvrages</span></strong></td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(8, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(8, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(8, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(8, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(9)" /></td>
<td class="not-counted" style="text-align: left;"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;"> Conduire les opérations de pose sur chantier</span></strong></td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(9, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(9, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(9, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(9, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(10)" /></td>
<td class="not-counted" style="text-align: left;"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Installer les équipements techniques, les accessoires</span></strong></td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(10, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(10, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(10, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(10, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(11)" /></td>
<td class="not-counted" style="text-align: left;"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;"> Assurer les opérations de finition périphériques à l'ouvrage</span></strong></td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(11, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(11, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(11, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(11, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(12)" /></td>
<td class="not-counted" style="text-align: left;"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Gérer la dépose des ouvrages et l'environnement du chantier</span></strong></td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(12, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(12, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(12, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(12, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(13)" /></td>
<td class="not-counted" style="text-align: left;"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">Assurer la maintenance périodique des ouvrages - Maintenir en état les matériels, les équipements et les outillages</span></strong></td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(13, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(13, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(13, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(13, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(14)" /></td>
<td class="not-counted" style="text-align: left;"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;"> Animer une équipe - Animer les actions qualité et sécurité - Communiquer avec les différents partenaires - Rendre compte d'une activité</span></strong></td>
<td style="text-align: center;"><input type="range" min="1" max="5" value="1" class="importance" onchange="calculerNote()" /></td>
<td onclick="setNiveau(14, 1)" style="text-align: center;">1</td>
<td onclick="setNiveau(14, 2)" style="text-align: center;">2</td>
<td onclick="setNiveau(14, 3)" style="text-align: center;">3</td>
<td onclick="setNiveau(14, 4)" style="text-align: center;">4</td>
<td style="text-align: center;"></td>
</tr>
<tr>
<td style="text-align: center;"><input type="checkbox" onclick="comptabiliserCompetence(14)" /></td>
<td class="not-counted" style="text-align: left;"><strong><span style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;"> Nombre de compétences:<br /></span></strong></td>
<td style="text-align: center;">
<script type="text/javascript">// <![CDATA[
// Obtenez tous les éléments d'importance du tableau
var importances = document.getElementsByClassName('importance');

// Initialisez la variable pour stocker la somme des importances
var sommeImportances = 0;

// Parcourez tous les éléments d'importance et ajoutez leur valeur à la somme
for (var i = 0; i < importances.length; i++) {
  sommeImportances += parseInt(importances[i].value);
}

// Affichez la somme des importances
console.log("Somme des importances : " + sommeImportances);
// ]]></script>
</td>
<td onclick="setNiveau(15, 1)" style="text-align: center;">Niveau 1</td>
<td onclick="setNiveau(15, 2)" style="text-align: center;">Niveau 2</td>
<td onclick="setNiveau(15, 3)" style="text-align: center;">Niveau 3</td>
<td onclick="setNiveau(15, 4)" style="text-align: center;">Niveau 4</td>
<td style="text-align: center;">Note</td>
</tr>
</tbody>
</table>
<p><br /> <button onclick="calculerNoteTotale()">Calculer note totale</button> <span id="noteTotale"></span></p>
<p>
<script type="text/javascript">// <![CDATA[
function setNiveau(row, niveau) {
      const table = document.getElementById("competencesTable");
      const cell = table.rows[row + 1].cells[niveau + 2];
      const isChecked = table.rows[row + 1].cells[0].getElementsByTagName('input')[0].checked;

      if (isChecked) {
        for (let i = 3; i <= 6; i++) {
          table.rows[row + 1].cells[i].classList.remove("highlight");
        }

        cell.classList.add("highlight");
        calculerNote();
      }
    }

    function comptabiliserCompetence(row) {
      const table = document.getElementById("competencesTable");
      const isChecked = table.rows[row + 1].cells[0].getElementsByTagName('input')[0].checked;
      const competenceCell = table.rows[row + 1].cells[1];

      if (isChecked) {
        competenceCell.classList.remove("not-counted");
      } else {
        competenceCell.classList.add("not-counted");
      }

      calculerNote();
    }

    function calculerNote() {
      const table = document.getElementById("competencesTable");
      let noteTotale = 0;
      let importanceTotale = 0;

      for (let i = 1; i < table.rows.length - 1; i++) {
        const isChecked = table.rows[i].cells[0].getElementsByTagName('input')[0].checked;
        const importance = parseInt(table.rows[i].cells[2].getElementsByTagName('input')[0].value);
        const niveau = getSelectedNiveau(table.rows[i]);
        const note = isChecked ? importance * niveau : 0;

        table.rows[i].cells[7].textContent = note;
        noteTotale += note;
        importanceTotale += isChecked ? importance : 0;
      }

      document.getElementById("noteTotale").textContent = "Note totale: " + (noteTotale / importanceTotale).toFixed(2);
    }

    function getSelectedNiveau(row) {
      for (let i = 3; i <= 6; i++) {
        if (row.cells[i].classList.contains("highlight")) {
          return i - 2;
        }
      }
      return 0;
    }

function calculerNoteTotale() {
  const table = document.getElementById("competencesTable");
  let noteTotale = 0;
  let importanceTotale = 0;

  for (let i = 1; i < table.rows.length - 1; i++) {
    const isChecked = table.rows[i].cells[0].getElementsByTagName('input')[0].checked;
    const importance = parseInt(table.rows[i].cells[2].getElementsByTagName('input')[0].value);
    const niveau = getSelectedNiveau(table.rows[i]);
    const note = isChecked ? (importance / 20) * niveau : 0; // Divisez l'importance par 5 pour ajuster à une échelle de 20.

    noteTotale += note;
    importanceTotale += isChecked ? (importance / 5) : 0; // Divisez l'importance par 5 pour ajuster à une échelle de 20.
  }

  // Calculez la note globale sur 20.
  const noteGlobaleSur20 = (noteTotale / importanceTotale) * 20;
  document.getElementById("noteTotale").textContent = "Note totale : " + noteGlobaleSur20.toFixed(2);
}

// ]]></script>
<script type="text/javascript">// <![CDATA[
function imprimerPage() {
  window.print();
}
// ]]></script>
</p>
<p><button onclick="imprimerPage()">Imprimer</button></p>
<p></p>
<p></p>
<form action="URL-de-votre-web-app" method="post">
  <label for="Eleve">Nom de l'élève:</label>
  <input type="text" name="Eleve">
  <!-- Autres champs du formulaire -->
  <input type="submit" value="Envoyer">
</form>
<link rel="stylesheet" href="style.css">.