/* Style général du corps de la page */
body {
    font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 20px;
}

/* Titres */
h2 {
    text-align: center;
    font-size: 24px;
    color: #2c3e50;
}

/* Style pour les paragraphes */
p {
    font-size: 16px;
    line-height: 1.5;
    color: #34495e;
}

/* Style pour les tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #2980b9;
    color: white;
    text-align: center;
}

/* Style des champs de texte */
input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

/* Style pour les boutons */
button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #3498db;
}

/* Style pour les inputs de type range (importance) */
input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

/* Styles spécifiques aux cases à cocher */
input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

/* Style pour les lignes du tableau */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Style pour les colonnes importantes */
td.highlight {
    background-color: #27ae60;
    color: white;
    font-weight: bold;
}

td.not-counted {
    background-color: #ec9e96;
    color: white;
}

/* Style pour les cellules qui affichent les notes */
td:last-child {
    font-weight: bold;
    color: #2c3e50;
}

/* Responsiveness pour les petits écrans */
@media screen and (max-width: 768px) {
    table, th, td {
        display: block;
        width: 100%;
    }
    
    th {
        text-align: left;
    }

    th, td {
        padding: 10px;
    }
    
    button {
        width: 100%;
    }
}
