body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

header {
    opacity: 0.9; /* Réduit l'opacité pour un effet grisé */
    background-color: #e0e0e0; /* Couleur de fond gris clair */
}

.logo {
    display: block; /* Centrer l'image */
    width: 150px; /* Taille de l'image */
    margin: 20px auto; /* Espace autour de l'image */
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.info {
    text-align: center;
    margin-bottom: 20px;
}

.detail-image {
    display: none; /* L'image est cachée par défaut */
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
}

.diagram-container {
    border: 1px solid #ddd;
    padding: 10px;
}

.dialog {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    background: rgb(172, 169, 169);
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    margin: 5px; /* Marge entre les boutons */
    border: none; /* Supprime les bordures */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur en main */
    font-size: 16px; /* Taille du texte */
    transition: background-color 0.3s, transform 0.2s; /* Animation pour le survol */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

button:hover {
    background-color: #45a049; /* Couleur de fond au survol */
    transform: scale(1.05); /* Légère augmentation de taille */
}

button:active {
    transform: scale(0.98); /* Effet de clic */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); /* Réduction de l'ombre */
}

/* Styles spécifiques pour certains boutons */
button#addCircle {
    background-color: #007BFF;
}

button#addCircle:hover {
    background-color: #0056b3;
}

button#applyStyle, button#cancelStyle {
    background-color: #FF6347; /* Rouge clair pour différencier */
}

button#applyStyle:hover, button#cancelStyle:hover {
    background-color: #e5533f;
}

h1 {
    font-family: 'Courier New', Courier, monospace; /* Police à aspect industriel */
    font-size: 36px; /* Taille du texte */
    color: #333; /* Couleur gris foncé */
    text-align: center; /* Centrer l'en-tête */
    background: linear-gradient(90deg, #444, #666); /* Dégradé de fond style métallique */
    -webkit-background-clip: text; /* Texte avec le dégradé comme couleur */
    color: transparent; /* Transparence pour laisser voir le dégradé */
    text-transform: uppercase; /* Texte en majuscules */
    letter-spacing: 2px; /* Espacement entre les lettres */
    padding: 10px 0; /* Espacement en haut et en bas */
    border-bottom: 3px solid #444; /* Ligne sous l'en-tête */
}
.diagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

svg rect {
    stroke: #000;
    stroke-width: 1px;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.diagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

svg rect {
    stroke: #000;
    stroke-width: 1px;
}