/* Style général pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    color: #333;
}

input, select {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #ccc;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: grab;
    position: relative;
}

li:hover {
    background-color: #f1f1f1;
}

.delete-icon, .edit-icon {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

.task-handle {
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    margin-right: 10px;
    cursor: move;
}

/* CSS pour la durée */
.time-info {
    font-weight: bold;
    color: #007bff;  /* Change la couleur en bleu */
    margin-left: 10px;
    font-size: 14px;
}

/* CSS pour les ressources */
.resource-info {
    font-style: italic;
    color: #28a745;  /* Vert clair pour les ressources */
    margin-left: 10px;
    font-size: 14px;
}

/* CSS pour les antériorités */
.antecedent-info {
    color: #dc3545;  /* Rouge pour les antériorités */
    font-size: 14px;
    margin-left: 10px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#taskModal, #resourceModal {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 300px;
}

.material-resource {
    background-color: #d4edda; /* Vert clair */
}

.human-resource {
    background-color: #cce5ff; /* Bleu clair */
}
